
body{
    padding: 50px;
}
#main_container {
  background-color: lightgrey;
  padding: 50px;
}
#second_container {
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding: 5px;
    margin: 10px;
  }
h1{
    font-size: 60px;
    text-align: center;
    line-height: 20px;
}
h2{
    font-size: 32px;
    text-align: center;
    line-height: 20px;
}
h3{
    font-size: 24px;
    text-align: center;
    line-height: 20px;
}
h3#h3_list{
    padding-left: 10px;
    text-align: left;
    line-height: 0px;

}
section{
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding: 5px;
    margin: 20px;
}
#section_photo{
    margin: 0%;
    padding: 5px;
    border-style: none;
    background-color:rgb(170, 170, 170);
}
#section_bottom{
    font-style: italic;
    text-align: center;
    border-style: none;
    padding: 5px;
    margin: 20px;
}
img {
    width: 30%;
    height: auto;
  }
span {
    font-weight: 700;
  }
  footer{
     padding-top: 40px;
      font-style: italic;
  }