body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.side_wrapper {
    max-width: 1140px;
    margin: 0 auto;
}
.side_container {
  padding: 10px;
  float: left;
  max-width: 50%;
  box-sizing: border-box;
}
h1 {
  margin-top: 0;
  font-size: 40px;
}
img {
  width: 100%;
}
input, textarea {
  background-color: #f3f3f3;
  border-radius: 5px;
  border-width: 0;
  color: gray;
  margin: 10px 0;
  padding: 10px;
  width: 90%;
}
input.send {
  background-color: black;
  color: white;
  width: 35%;
}