body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
 
  text-align: left;
}
.main_body {
    max-width: 1140px;
    margin: 0 auto;
}
.left_side {
  padding: 10px;
  margin: 5px;
  float: left;
  max-width: 35%;
}
.right_side {
  padding: 10px;
  margin: 5px;
  float: left;
  max-width: 35%;
}
img {
  width: 100%;
}
h1 {
  margin-top: 0;
  font-size: 40px;
}
input {
  border-width: 0;
  background-color: #f3f3f3;
  border-radius: 7px;
  margin: 10px 0;
  padding: 5px;
  width: 80%;
}
input.send {
  padding: 10px;
  color: white;
  background-color: black;
  width: 35%;
}
textarea {
  color: gray;
  border-width: 0;
  background-color: #f3f3f3;
  border-radius: 5px;
  width: 80%;
  margin: 7px;
  padding: 5px;
  margin-left: -1px; /* is kur cia atsiranda tas 1 pixelio pasistumimas tam text area?*/
}