body {
  font-family: "Poppins", sans-serif;
  background-color: pink;
}
section {
  display: flex;
  max-width: 1140px;
  align-content: center;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  width: 100%;
  position: fixed;
  background-color: white;
  height: 70px;
  box-sizing: border-box;
}
nav {
  display: flex;
  align-items: center;
}
i {
  font-size: 40px;
  color: skyblue;
}
header a.personal {
  font-size: 20px;
  font-weight: 800;
}
header a {
  color: black;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  padding: 5px;
}
ul {
  list-style-type: none;
}
li {
  display: inline;
}
