body {
  font-family: "Poppins", sans-serif;
  background-color: pink;
}
header {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 50px;
  width: 100%;
  position: fixed;
  background-color: white;
  height: 70px;
}
nav {
  display: flex;
  align-items: center;
}
i {
  font-size: 40px;
  color: skyblue;
}
header a.personal {
  font-size: 20px;
  font-weight: 800;
}
header a {
    color: black;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 5px;
  }
.big {
  height: 800px;
}
ul {
    list-style-type: none;
    display: flex;
}