body {
  font-family: "Poppins", sans-serif;
  background-color: azure;
}
header {
  padding: 0 100px;
  width: 100%;
  position: fixed;
  background-color: white;
  box-sizing: border-box;
}
.container {
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
nav {
  display: flex;
  align-items: center;
}
header a {
  color: black;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  padding: 5px;
}
ul {
  list-style-type: none;
}
li {
  display: inline;
}

li a:hover {
  color: deepskyblue;
}
i:hover {
  color: deepskyblue;
}