body {
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: white;
    background-image: url(Assets/red.jpg);
    background-size: cover;
  }
  h1 {
    font-size: 250px;
    font-weight: 900;
    margin: 0;
    margin-top: 250px;
  }
  h2{
  font-size: 24px;
  }  
.button_wrapper {
    display: inline-block;
    max-width: 600px;
    margin: 0 auto;
}
.buttons {
    float: left;
    max-width: 50%;
    border: 4px solid white;
    border-radius: 50px;
    padding: 15px;
    margin: 10px;
    font-size: 20px;
}
.home{
    background-color: white;
    color: red;
}
a{
    color: white;
    text-decoration: none;
}
.icon_wrapper{

    margin-top: 30px;
}
.icon{
    margin: 0 20px;
}
img{
   max-width: 20px;
}
