.container {
    width: 1024px;
    margin: 0 auto;
}
.card a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    font-weight: 700;
}
.card__image img {
    width: 100%;
}
.card__image {
    position: relative;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00d054;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 10px;
    bottom: 10px;
}
.icon i {
    color: white;
    font-size: 50px;

}
.card {
    width: 50%;
} 
.card__image a{
    line-height: 0;
}
.icon2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00d054;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 70px;
    bottom: 10px;
}
.icon2 i {
    color: white;
    font-size: 50px;

}
.icon3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00d054;
    /* width: 50px; */
    height: 50px;
    position: absolute;
    left: 130px;
    bottom: 10px;
    color: white;
    padding: 0 10px;
}
