.main{
    background-color: rgb(197, 14, 45);
}
.buttons{
    max-width: 20%;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
}
.button_wrapper{

    max-width: 600px;
    float: none;
}
.icons{
    text-align: center;
    float: none;
    max-width: 200px;
    min-width: 20px;
}